<div class="container">
  <h1 class="title">Welcome to the Quiz!</h1>
  
  <h4>Rules:</h4>
  <ol>
    <li>Each correct answer is worth 10 points.</li>
     
    <li>You have 10 sec to answer each question.</li>
  </ol>

  <div class="name col-md-4 my-3">
    <label id="name" for="">Player's Name:</label>
    <input #name type="text" class="form-control" />
  </div>
  <button
    class="btn btn-primary btn-lg"
    routerLink="/question"
    (click)="startQuiz()"
  >
    Let's GO!
  </button>
</div>
